.skill-color-1 {
    background-color: #1B98F5;
}

.skill-color-2 {
    background-color: #383CC1;
}

.skill-color-3 {
    background-color: #12B0E8;
}

.skill-color-4 {
    background-color: #51E1ED;
}

.skill-color-5 {
    background-color: #3944F7;
}

.skill-color-6 {
    background-color: #46B2E0;
}

.skill-color-7 {
    background-color: #2827CC;
}

.cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}